/* FACEBOOK LOGIN SECTION */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.facebook-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* left section */

.left-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-part img {
  padding-left: 300px;
  height: 106px;
  margin: -28px;
  display: flex;
}

.left-part h2 {
  padding-left: 300px;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}

/* RIGHT SECTION */

.right-part {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 300px;
  padding-left: 100px;
  flex-direction: column;
}

.right-part .form {
  width: 396px;
  height: 350px;

  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgb(196, 193, 193);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 20px;
}

.right-part .form input {
  border: 1px solid rgb(228, 225, 225);
  display: flex;

  height: 25px;
  width: 300px;
  border-radius: 8px;

  font-size: 16px;
  padding: 10px;
  outline: none;
}
.forget a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(72, 139, 239);
}
.forget a:hover {
  text-decoration: underline;
}

/* BUTTONS */

.blue-button {
  height: 40px;
  width: 325px;
  background-color: rgb(63, 89, 221);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.last-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.green-button {
  height: 40px;
  width: 225px;
  background-color: rgb(8, 193, 8);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
}

hr {
  color: rgb(225, 223, 223);
}

/* OUTSIDE FORM-SECTION */

.outside-line a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.outside-line a:hover {
  text-decoration: underline;
}
.outside-line p {
  font-size: 14px;
  font-weight: normal;
}

/* FOOTER SECTION */

.footer-section {
  background-color: white;
}
.footer {
  width: 980px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 12px;
}

.footer .languages ul {
  display: flex;

  align-items: start;
  list-style-type: none;

  flex-wrap: wrap;
}

.languages a li {
  align-items: start;
  padding-right: 12px;
  padding-left: 8px;
}

.languages a {
  text-decoration: none;
  color: gray;
}

.footer .more-info ul {
  display: flex;
  align-items: start;

  flex-wrap: wrap;
  list-style-type: none;
}

.more-info a li {
  color: gray;
  padding-left: 8px;
  padding-right: 12px;
  padding-bottom: 2px;
}
.more-info a {
  text-decoration: none;
}

.languages .more-info a:hover {
  text-decoration: underline;
}

hr {
  width: 90%;
  color: rgb(251, 247, 247);
  margin-top: 0;
  margin-bottom: 0;
}
